/*Колір основного шрифту #2E2F42
Колір основного фону  #ffffff
додатковий фон та літери #2E2F42

    */

:root {
    --base-color-text: #2E2F42;
    --maine-color-background: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--base-color-text);
    background-color: var(--maine-color-background);
    }

/*    font-family: 'Raleway', sans-serif;*/

/*_________Header____________*/
.page-header {
    background: var(--maine-color-background);
}

.logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--base-color-text);
    padding: 0px;
}

.logo-web {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #4D5AE5;
    padding: 0px;
}

/*.logo:hover {

}*/

.list {
    list-style: none;
}

.site-nav {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2E2F42;
}

.site-nav:focus, .site-nav:hover {
    color: #4D5AE5;
}

.contact {
    text-decoration: none;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #434455;
}

.contact:hover {
    color: #4D5AE5;
}

/*__________Hero section_________*/
.hero {
    background-color: var(--base-color-text);
}

.hero-title {
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--maine-color-background);
}

.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: var(--maine-color-background);
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.hero-button:hover {
    background-color: #4D5AE5;
}

.hero-button:active {
    background-color:#404BBF;
}

/* ____________Benefits section__________*/
.benefits-heading, .row-title, 
.samples-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefit-subtitle, .resume-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--base-color-text);
}

.benefit-details, .resume-specialty {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*____________Examples section__________*/
.examples-title, .resumes-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--base-color-text);
}

/*_________Resumes section___________*/
.resumes {
    background-color: #F4F4FD;
}

.resumes-item {
    background-color: var(--maine-color-background);
}

/*Footer section*/
.footer {
    background-color: var(--base-color-text);
}

.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.67;
    display: flex;
    letter-spacing: 0.03em;
    text-decoration: none;

    color: #F4F4FD;
}

.footer-logo-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.67;
    display: flex;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4D5AE5;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}

/* Portfolio page: Section row */
.row-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #F4F4FD;
    color: #4D5AE5;
    cursor: pointer;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
}

.row-button:hover {
    background-color: #4D5AE5;
    color:var(--maine-color-background)
}

/*_______Section samples________ */

.samples-link {
    text-decoration: none;
}

.samples-subtitle {
    font-family: inherit;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--base-color-text);
}

.samples-filter {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}






/*  */